<!-- src/RDER/SFPBundle/Resources/views/Usuarios/prototype.html.twig -->

	<input type="hidden" id="c" name="c" class="form-control">
	<td id="1"><input type="text" id="a" name="a" class="form-control simple" readonly="readonly"></td>
	<td id="2"><input type="text" id="b" name="b" class="form-control simple" readonly="readonly"></td>
        <td id="3">{{ form_widget(form.usuario) }}</td>
        <td id="4">{{ form_widget(form.ceco) }}</td>
        <td id="5">{{ form_widget(form.role) }}</td>
